recaudosFacade/recaudosFacade/src/META-INF/wsdl/192.168.100.72_8080/recaudos/recaudos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://recaudos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://recaudos/" name="recaudos">
<types>
<xsd:schema>
<xsd:import namespace="http://recaudos/" schemaLocation="http://192.168.100.72:8080/recaudos/recaudos?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarmovimiento">
<part name="parameters" element="tns:consultarmovimiento"/>
</message>
<message name="consultarmovimientoResponse">
<part name="parameters" element="tns:consultarmovimientoResponse"/>
</message>
<message name="consultacuenta">
<part name="parameters" element="tns:consultacuenta"/>
</message>
<message name="consultacuentaResponse">
<part name="parameters" element="tns:consultacuentaResponse"/>
</message>
<message name="anularpagobanco">
<part name="parameters" element="tns:anularpagobanco"/>
</message>
<message name="anularpagobancoResponse">
<part name="parameters" element="tns:anularpagobancoResponse"/>
</message>
<message name="anularpago">
<part name="parameters" element="tns:anularpago"/>
</message>
<message name="anularpagoResponse">
<part name="parameters" element="tns:anularpagoResponse"/>
</message>
<message name="cargarpago">
<part name="parameters" element="tns:cargarpago"/>
</message>
<message name="cargarpagoResponse">
<part name="parameters" element="tns:cargarpagoResponse"/>
</message>
<message name="cargarpagobanco">
<part name="parameters" element="tns:cargarpagobanco"/>
</message>
<message name="cargarpagobancoResponse">
<part name="parameters" element="tns:cargarpagobancoResponse"/>
</message>
<message name="consultafactura">
<part name="parameters" element="tns:consultafactura"/>
</message>
<message name="consultafacturaResponse">
<part name="parameters" element="tns:consultafacturaResponse"/>
</message>
<portType name="recaudos">
<operation name="consultarmovimiento">
<input wsam:Action="http://recaudos/recaudos/consultarmovimientoRequest" message="tns:consultarmovimiento"/>
<output wsam:Action="http://recaudos/recaudos/consultarmovimientoResponse" message="tns:consultarmovimientoResponse"/>
</operation>
<operation name="consultacuenta">
<input wsam:Action="http://recaudos/recaudos/consultacuentaRequest" message="tns:consultacuenta"/>
<output wsam:Action="http://recaudos/recaudos/consultacuentaResponse" message="tns:consultacuentaResponse"/>
</operation>
<operation name="anularpagobanco">
<input wsam:Action="http://recaudos/recaudos/anularpagobancoRequest" message="tns:anularpagobanco"/>
<output wsam:Action="http://recaudos/recaudos/anularpagobancoResponse" message="tns:anularpagobancoResponse"/>
</operation>
<operation name="anularpago">
<input wsam:Action="http://recaudos/recaudos/anularpagoRequest" message="tns:anularpago"/>
<output wsam:Action="http://recaudos/recaudos/anularpagoResponse" message="tns:anularpagoResponse"/>
</operation>
<operation name="cargarpago">
<input wsam:Action="http://recaudos/recaudos/cargarpagoRequest" message="tns:cargarpago"/>
<output wsam:Action="http://recaudos/recaudos/cargarpagoResponse" message="tns:cargarpagoResponse"/>
</operation>
<operation name="cargarpagobanco">
<input wsam:Action="http://recaudos/recaudos/cargarpagobancoRequest" message="tns:cargarpagobanco"/>
<output wsam:Action="http://recaudos/recaudos/cargarpagobancoResponse" message="tns:cargarpagobancoResponse"/>
</operation>
<operation name="consultafactura">
<input wsam:Action="http://recaudos/recaudos/consultafacturaRequest" message="tns:consultafactura"/>
<output wsam:Action="http://recaudos/recaudos/consultafacturaResponse" message="tns:consultafacturaResponse"/>
</operation>
</portType>
<binding name="recaudosPortBinding" type="tns:recaudos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarmovimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultacuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="anularpagobanco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="anularpago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarpago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarpagobanco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultafactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="recaudos">
<port name="recaudosPort" binding="tns:recaudosPortBinding">
<soap:address location="http://192.168.100.72:8080/recaudos/recaudos"/>
</port>
</service>
</definitions>